
<div class="flex-wrapper add-contact-wrapper">
    <input type="text" class="input-form fio-input" placeholder="Введите ФИО" [(ngModel)]="fio">
    <input type="number" class="input-form" placeholder="Введите номер комнаты" [(ngModel)]="numberRoom">
    <input type="text" class="input-form" placeholder="Введите номер телефона" [(ngModel)]="numberPhone">
    <button class="button-add" (click)="addContact()">Добавить</button>
</div>
<div *ngIf="error" class="red-alarm-message">
    Вы не ввели ФИО или номер телефона
</div>