.rm {
  border-radius: 50%;
  background: red;
  color: #fff;
  font-size: 1rem;
  border: none;
  width: 20px;
  height: 20px;
  transition: 0.3s all;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.change-button {
  background: wheat;
  margin-right: 10px;
  cursor: pointer;
}
.loader {
  margin-top: 10px;
}
.filter {
  margin: 20px 0;
  width: 100%;
}
.input-filter {
  width: 100%;
}
.type-sort {
  display: inline-block;
  margin-right: 10px;
}
