
<div *ngIf="!loading">
    <div class="filter">
        <input type="text" class="input-form input-filter" placeholder="Введите для поиска ФИО или телефон" [(ngModel)]='searchString' />
    </div>
    <div>
        <p class="type-sort">Выберите тип сортировки: </p>
        <select [(ngModel)]="typeSort">
            <option value="default">По умолчанию</option>
            <option value="phone_asc">По телефону(возрастание)</option>
            <option value="phone_desc">По телефону(убывание) </option>
            <option value="fio_asc">По ФИО(возрастание)</option>
            <option value="fio_desc">По ФИО(убывание)</option>
        </select>
    </div>
    <ul *ngIf="phoneBook.length > 0; else noContacts" style="list-style: none">
        <li>
            <div class="flex-wrapper-horizontal">
                <div class="width5"><strong>№</strong></div>
                <div class="width40">ФИО контакта</div>
                <div class="width10">Номер комнаты</div>
                <div class="width40">Номер телефона</div>
            </div>
        </li>
        <li *ngFor="let contact of phoneBook | phoneBookFilter:searchString | phoneBookSorter: typeSort; let i = index">
            <div class="flex-wrapper-horizontal">
                <div class="width5"><strong>{{ i + 1 }}</strong></div>
                <div class="width40">{{contact.fio}}</div>
                <div class="width10" *ngIf="contact.numberRoom">{{contact.numberRoom}}</div>
                <div class="width10" *ngIf="!contact.numberRoom">Нету</div>
                <div class="width30">{{contact.numberPhone}}</div>
                <div class="width10 flex-wrapper-horizontal">
                    <button class="change-button" (click)='editContact(contact.id)' >Изменить</button>
                    <button class="rm" (click)='removeContact(contact.id)' >&times;</button>
                </div>
            </div>
        </li>
    </ul>
</div>


<ng-template #noContacts>
    <p class="text-center">Нет контактов в справочнике</p>
</ng-template>
<ng-template #notFound>
        <p class="text-center">Контакты не найдены</p>
    </ng-template>

<ng-template #noRoom>Нету</ng-template>

<div class="loader text-center" *ngIf="loading">Загрузка...</div>