.container {
  margin: 0 10%;
}
.head-text-bold {
  font-size: 24px;
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.phoneBook-wrapper {
  display: flex;
}
.sidebar {
  width: 20%;
  padding: 0 20px;
}
.phonebook {
  width: 80%;
  padding: 0 20px;
}
.edit-component {
  margin-top: 30px;
}
