<div class="container">
  <div class="head-text-bold text-center">{{ title }}</div>
  <div class="phoneBook-wrapper">
    <div class="sidebar">
      <app-add-contact></app-add-contact>
      <div class="edit-component">
      <app-edit-contact></app-edit-contact>
    </div>
    </div>
    <div class="phonebook">
      <app-phonebook></app-phonebook>
    </div>
  </div>
</div>