/* You can add global styles to this file, and also import other style files */
.flex-wrapper-horizontal {
  display: flex;
}
.width10 {
  width: 10%;
}
.width50 {
  width: 50%;
}
.width30 {
  width: 30%;
}
.width40 {
  width: 40%;
}
.width5 {
  width: 5%;
}
.input-form {
  padding: 2px;
  /* margin: 0 20px; */
  outline: none;
  display: inline-block;
  border: none;
  width: 20%;
  border-bottom: 1px solid gray;
}
.fio-input {
  width: 40%;
}
.flex-wrapper {
  display: flex;
}
.button-add {
  border: 1px solid gray;
  background: white;
  padding: 5px;
  cursor: pointer;
}
.button-accept {
  border: 1px solid gray;
  background: chartreuse;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
.button-cancel {
  border: 1px solid gray;
  background: red;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
.margin-right20 {
  margin-right: 20px;
}
.red-alarm-message {
  border: 1px solid red;
  padding: 10px;
  color: red;
  margin-top: 10px;
}
.green-success-message {
  border: 1px solid green;
  padding: 10px;
  color: green;
  margin-top: 10px;
}
.text-center {
  text-align: center;
}
.flex-wrapper {
  flex-direction: column;
}
.flex-wrapper input {
  width: 100%;
  margin-bottom: 10px;
}
