

<div class="flex-wrapper" *ngIf="editContact">
        <p>Редактирование пользователя</p>
    <input type="text" class="input-form fio-input" placeholder="Введите ФИО" (input)="newFio = $event.target.value" [value]="editContact.fio">
    <input type="number" class="input-form" placeholder="Введите номер комнаты" (input)="newNumberRoom = $event.target.value" [value]="editContact.numberRoom">
    <input type="text" class="input-form" placeholder="Введите номер телефона" (input)="newNumberPhone = $event.target.value" [value]="editContact.numberPhone">
    <button class="button-accept margin-right20" (click)="acceptChanges(editContact.id)">Сохранить</button>
    <button class="button-cancel" (click)="declineChanges()">Отменить</button>
</div>
<div *ngIf="changesDeclined" class="red-alarm-message">
    Изменения были отменены
</div>

<div *ngIf="changesAccepted" class="green-success-message">
    Изменения были Сохранены
</div>
